In [4]:
import pandas as pd

interactions = pd.read_csv("data/processed/splitted/train.csv")
target = pd.read_csv("data/data_target_users_test.csv")
target

       user_id
0            0
1            1
2            2
3            3
4            4
...        ...
41111    41624
41112    41625
41113    41626
41114    41627
41115    41628

[41116 rows x 1 columns]

In [5]:
target["has_interactions"] = target["user_id"].isin(interactions["user_id"])
target

       user_id  has_interactions
0            0              True
1            1              True
2            2              True
3            3              True
4            4              True
...        ...               ...
41111    41624              True
41112    41625              True
41113    41626              True
41114    41627              True
41115    41628              True

[41116 rows x 2 columns]

In [6]:
target.loc[target["has_interactions"] == False, "user_id"]

Series([], Name: user_id, dtype: int64)